*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


#top{height: 100px;
background-color: #F0F8FF;
padding: 30px;
border-bottom: 2px;
border-color: #DEDEDE;
border-style: solid;

}
#topleft-dx{float: left;}
#topleft-sn{float: left ;}
#topleft-sn  i{
    float: left;
}
#topleft-sn h3 {
display: inline-block;
float: left;

}

.container{width: 1080px;
height: 100%;
margin: auto;
}
.top-right{width: 50%;
    float: left;

    text-align: right;
}
.top-left{width: 50%;
    float: left;
    text-align: right;
}
button{background-color: white;
height: 25px;
color: orange;
 padding: 15px 32px;
 text-decoration: none;
display: inline-block;
 font-size: 16px;
}

#button2{display: inline-block;
    background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fa-search{display: inline-block;
margin: 15px;}

}
.top-left{
    width: 50%;
    height: 100%;
    background-color: white;
    float: left;
}
.container::after{
    clear: both;
    display: table;
    content: '';
}

#bottom{height: 100px;
background-color: white
}

#bottom-left{width: 50%;
    float: left;
    margin left: 100px;}

#bottom-left {padding-top: 30px;
padding-bottom: 30px;}

}
#bottom-right{width: 50%;
    float: left;
    text-align: right;}



    #menu li {
        display: block;
        float: right;
        padding:20px;
    padding-top: 30px;}

#pag1{height: 1000px;
width: 100%;
background-image:url(C:\Users\nicola\Documents\boolean\htmlcss-hubspot\Background.png);
background-color: #ffd890;
}

#blocco{height: 100%;
width: 50%}
